* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  body {
    animation: theme 21s linear infinite;
    
    &:after,
    &:before {
        content: '';
        display: block;
        position: fixed;
        z-index: -1;
        top: 0;
        width: 100vw;  // IE/Edge
        height: 100vh; // fallback
        width: 100vmax;
        height: 100vmax;
        background: rgba(0,0,0,0.05);
        animation: background 90s linear infinite;
    }

    &:after {
        left: 15vw;
    }

    &:before {
        right: 15vw;
        animation-delay: -30s;
        animation-direction: reverse;
    }
}

@keyframes theme {
    0% {
        background: #74C390;
    }
    
    16% {
        background: #5DBDB6;
    }
    
    33% {
        background: #59D4E1;
    }
    
    50% {
        background: #51BCE8;
    }
    
    66% {
        background: #FA5374;
    }    
    
    83% {
        background: #E46653;
    }

    100% {
        background: #74C390;
    }
}

@keyframes background {
    0% {
        transform: rotate(0deg);
    }
    
    100% {
        transform: rotate(360deg);
    }
}
  .container {
    background-color: #1a1820;
    width: min(37.5em, 90%);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 3em;
    border-radius: 0.5em;
  }
  h1 {
    text-align: center;
    font-weight: 500;
    color: #ffffff;
  }
  button {
    font-size: 1em;
    background-color: #112ae5f5;
    display: block;
    margin: 2em auto;
    padding: 1em;
    color: #ffffff;
    border: none;
    outline: none;
    border-radius: 0.3em;
    cursor: pointer;
  }
  button:hover{
    background-color: green;
  }
  #otpDisplay {
    font-size: 1em;
    background-color: #2a292e;
    color: #ffffff;
    letter-spacing: 1em;
    text-align: center;
    padding: 1em 0;
    border-style :groove;
    border-radius: 20px;
  }