*{
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins",sans-serif;
}

body{
height: 100vh;
background-color: rgb(37, 255, 182);
cursor: none;
}
.main{
    height: 100vh;
    justify-content: center;
    display: flex;
    align-items: center;
}
.main h1{

    color:rgb(255, 255, 255);
    font-size: 65px;
}
.cursor{
    z-index: 999;
    position: fixed;
    background: #7262eb;
    width: 20px;
    height: 20px;
    border-radius:50% ;
    pointer-events:none;
    box-shadow:0 0 20px #2696e8,0 0 60px #2696e8,0 0 100px #2696e8;
    transform:translate(-50%,-50%);
    animation:color 5s infinite;
    display:none;
}
@keyframes color{
    0%{
        filter:hue-rotate(0deg);
    }
    100%{
        filter:hue-rotate(360deg);
    }
}
.cursor:before{
    content:"";
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background:#2696e8 ;
    opacity:0.2;
    transform: translate(-30%,-30%);
}
#msg{

     height: 50px;
    justify-content: center;
    display: flex;
    align-items: center;
}
